<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamboot.cloud.admin.systemsvc.mapper.SystemUserMapper">
    <resultMap id="Model" type="com.tamboot.cloud.admin.systemsvc.model.SystemUserModel"></resultMap>
    
    <select id="selectOneByUsername" resultMap="Model">
        select * from system_user where username = #{username} limit 0,1
    </select>

</mapper>