<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamboot.cloud.admin.systemapp.system.mapper.SystemRoleMapper">
    <resultMap type="com.tamboot.cloud.admin.systemapp.system.model.SystemRoleModel" id="Model"></resultMap>

    <select id="selectOneByRoleCode" resultMap="Model">
        select * from system_role where role_code = #{roleCode} limit 0,1
    </select>

    <select id="pageByCondition" resultMap="Model">
        select
            *
        from system_role
        <where>
            <if test="@com.tamboot.common.tools.text.TextUtil@isNotEmpty(condition.roleCodeLike)">role_code like concat('%', #{condition.roleCodeLike}, '%')</if>
            <if test="@com.tamboot.common.tools.text.TextUtil@isNotEmpty(condition.roleNameLike)">and role_name like concat('%', #{condition.roleNameLike}, '%')</if>
        </where>
    </select>

    <select id="selectAllByRoleCodes" resultMap="Model">
        select
            *
        from system_role
        where role_code in
            <foreach collection="roleCodes" item="roleCode" open="(" separator="," close=")">
                #{roleCode}
            </foreach>
    </select>

    <select id="selectAll" resultMap="Model">
        select * from system_role
    </select>
</mapper>