<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamboot.cloud.admin.systemapp.system.mapper.SystemPermissionMapper">
    <resultMap type="com.tamboot.cloud.admin.systemapp.system.model.SystemPermissionModel" id="Model"></resultMap>
    
    <select id="selectAll" resultMap="Model">
        select * from system_permission
    </select>

    <select id="selectOneByUrl" resultMap="Model">
        select * from system_permission where url = #{url} limit 0,1
    </select>

    <select id="pageByCondition" resultMap="Model">
        select
            *
        from system_permission
        <where>
            <if test="@com.tamboot.common.tools.text.TextUtil@isNotEmpty(condition.urlLike)">url like concat('%', #{condition.urlLike}, '%')</if>
            <if test="@com.tamboot.common.tools.text.TextUtil@isNotEmpty(condition.roleCode)">and roles like concat('%', #{condition.roleCode}, '%')</if>
        </where>
        order by LENGTH(url) asc
    </select>
</mapper>